## Relevant Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [43]:
import datetime

In [33]:
from Base.underlying import underlying
from Base.stock import stock

## Create an underlying object. This is the ticker underlying for all securities.

In [34]:
reliance = underlying('RELIANCE')

## Create an object for the cash stock security for the underlying

In [36]:
reliance_stock = stock(reliance)

### Get data for the cash equity security for the underlying

In [55]:
reliance_stock.get_data(start_date="2022-06-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="60minute")

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443

DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/NSE HTTP/1.1" 200 81864
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/738561/60minute?from=2022-06-01&to=2023-06-21+19%3A48%3A59&interval=60minute&continuous=0&oi=0 HTTP/1.1" 200 38120

In [56]:
reliance.stock.data

                          date     open     high     low    close   volume
0    2022-06-01 09:15:00+05:30  2634.30  2650.00  2625.0  2640.40  1352354
1    2022-06-01 10:15:00+05:30  2640.40  2652.00  2637.9  2645.35   660209
2    2022-06-01 11:15:00+05:30  2645.00  2655.20  2638.6  2647.40   547521
3    2022-06-01 12:15:00+05:30  2647.40  2650.90  2640.0  2640.00   326939
4    2022-06-01 13:15:00+05:30  2639.60  2640.50  2616.2  2619.45   601275
...                        ...      ...      ...     ...      ...      ...
1833 2023-06-21 14:15:00+05:30  2566.85  2567.00  2558.7  2565.10   772484
1834 2023-06-21 15:15:00+05:30  2564.95  2566.95  2561.5  2564.30   509129
1835 2023-06-21 16:15:00+05:30  2564.30  2564.30  2564.3  2564.30        0
1836 2023-06-21 17:15:00+05:30  2564.30  2564.30  2564.3  2564.30        0
1837 2023-06-21 18:15:00+05:30  2564.30  2564.30  2564.3  2564.30        0

[1838 rows x 6 columns]

## Create an object for the Futures securities for the underlying