## Relevant Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [4]:
import datetime

In [5]:
from Base.underlying import underlying
from Base.stock import stock

## Create an underlying object. This is the ticker underlying for all securities.

In [6]:
reliance = underlying('RELIANCE')

## Create an object for the cash stock security for the underlying

In [7]:
reliance_stock = stock(reliance)

### Get data for the cash equity security for the underlying

In [8]:
reliance_stock.get_data(start_date="2022-06-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="60minute")

In [9]:
reliance.stock.data

                          date     open     high      low    close   volume
0    2022-06-01 09:15:00+05:30  2634.30  2650.00  2625.00  2640.40  1352354
1    2022-06-01 10:15:00+05:30  2640.40  2652.00  2637.90  2645.35   660209
2    2022-06-01 11:15:00+05:30  2645.00  2655.20  2638.60  2647.40   547521
3    2022-06-01 12:15:00+05:30  2647.40  2650.90  2640.00  2640.00   326939
4    2022-06-01 13:15:00+05:30  2639.60  2640.50  2616.20  2619.45   601275
...                        ...      ...      ...      ...      ...      ...
1838 2023-06-22 12:15:00+05:30  2549.00  2551.50  2540.00  2543.00   458419
1839 2023-06-22 13:15:00+05:30  2543.00  2547.55  2540.35  2542.80   467154
1840 2023-06-22 14:15:00+05:30  2543.00  2543.00  2535.40  2535.70   520348
1841 2023-06-22 15:15:00+05:30  2535.95  2540.00  2532.25  2535.50   313239
1842 2023-06-22 16:15:00+05:30  2535.50  2535.50  2535.50  2535.50        0

[1843 rows x 6 columns]

## Options

### Getting all Available Options for an Underlying

In [10]:
reliance.get_option_matrix()

### Create objects for each option contract

In [11]:
reliance.create_options_contracts()

### All Expiries

In [12]:
reliance.option_expiries

[datetime.date(2023, 6, 29),
 datetime.date(2023, 7, 27),
 datetime.date(2023, 8, 31)]

### All Strikes for a Particular Expiry

In [13]:
reliance.get_strike_list(reliance.options_matrix, datetime.date(2023, 6, 29))

[1900.0,
 1920.0,
 1940.0,
 1960.0,
 1980.0,
 2000.0,
 2020.0,
 2040.0,
 2060.0,
 2080.0,
 2100.0,
 2120.0,
 2140.0,
 2160.0,
 2180.0,
 2200.0,
 2220.0,
 2240.0,
 2260.0,
 2280.0,
 2300.0,
 2320.0,
 2340.0,
 2360.0,
 2380.0,
 2400.0,
 2420.0,
 2440.0,
 2460.0,
 2480.0,
 2500.0,
 2520.0,
 2540.0,
 2560.0,
 2580.0,
 2600.0,
 2620.0,
 2640.0,
 2660.0,
 2680.0,
 2700.0,
 2720.0,
 2740.0,
 2760.0,
 2780.0,
 2800.0,
 2820.0,
 2840.0,
 2860.0,
 2880.0,
 2900.0,
 2920.0]

### Get Data for all Options Contracts

In [ ]:
reliance.get_data_for_all_options_contracts(start_date="2023-06-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="day")

### Get Option Data for a Particular Contract

In [14]:
reliance.options[datetime.date(2023, 6, 29)][2400]['call'].get_data(start_date="2023-04-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="day")

## Futures

### Get Futures Matrix

In [15]:
reliance.get_futures_matrix()

### Create Object for each Future Contract

In [16]:
reliance.create_futures_contracts()

### Get Data for all Futures Contracts

In [ ]:
reliance.get_data_for_all_futures_contracts(start_date="2023-06-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="day")

### Get Data for a Particular Future Contract

In [17]:
reliance.futures[datetime.date(2023, 7, 27)].get_data(start_date="2023-04-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="day")

In [22]:
reliance.futures[datetime.date(2023, 7, 27)].data

,date,open,high,low,close,volume,oi
0,2023-06-01 00:00:00+05:30,2504.05,2518.55,2494.05,2496.90,265500,986000
1,2023-06-02 00:00:00+05:30,2500.75,2514.00,2484.50,2489.20,562250,1213750
2,2023-06-05 00:00:00+05:30,2500.05,2517.00,2492.10,2512.10,295000,1253250
3,2023-06-06 00:00:00+05:30,2512.80,2518.70,2493.00,2506.35,219500,1292500
4,2023-06-07 00:00:00+05:30,2517.00,2531.75,2505.45,2528.75,290250,1289250
5,2023-06-08 00:00:00+05:30,2528.40,2541.00,2515.90,2524.50,528500,1276750
6,2023-06-09 00:00:00+05:30,2529.00,2532.05,2501.20,2504.70,294000,1368500
7,2023-06-12 00:00:00+05:30,2507.35,2515.20,2492.00,2510.00,356750,1482500
8,2023-06-13 00:00:00+05:30,2505.30,2544.50,2505.30,2542.30,569000,1565000
9,2023-06-14 00:00:00+05:30,2540.00,2576.20,2538.80,2571.45,695250,1651250
10,2023-06-15 00:00:00+05:30,2564.05,2582.00,2558.00,2572.25,822750,1893250
11,2023-06-16 00:00:00+05:30,2578.85,2601.45,2578.85,2597.45,679250,1946250
12,2023-06-19 00:00:00+05:30,2597.40,2601.55,2570.15,2577.40,991750,2384750
13,2023-06-20 00:00:00+05:30,2572.55,2584.00,2558.05,2578.30,1147750,2960750
14,2023-06-21 00:00:00+05:30,2580.00,2589.00,2570.35,2582.60,1128250,3488750
15,2023-06-22 00:00:00+05:30,2580.00,2589.90,2556.00,2558.00,2238500,4862500