## Relevant Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [4]:
import datetime

In [5]:
from Base.underlying import underlying
from Base.stock import stock

## Create an underlying object. This is the ticker underlying for all securities.

In [6]:
reliance = underlying('RELIANCE')

## Create an object for the cash stock security for the underlying

In [7]:
reliance_stock = stock(reliance)

### Get data for the cash equity security for the underlying

In [8]:
reliance_stock.get_data(start_date="2022-06-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="60minute")

In [9]:
reliance.stock.data

                          date     open     high     low    close   volume
0    2022-06-01 09:15:00+05:30  2634.30  2650.00  2625.0  2640.40  1352354
1    2022-06-01 10:15:00+05:30  2640.40  2652.00  2637.9  2645.35   660209
2    2022-06-01 11:15:00+05:30  2645.00  2655.20  2638.6  2647.40   547521
3    2022-06-01 12:15:00+05:30  2647.40  2650.90  2640.0  2640.00   326939
4    2022-06-01 13:15:00+05:30  2639.60  2640.50  2616.2  2619.45   601275
...                        ...      ...      ...     ...      ...      ...
1833 2023-06-21 14:15:00+05:30  2566.85  2567.00  2558.7  2565.10   772484
1834 2023-06-21 15:15:00+05:30  2564.95  2566.95  2561.5  2564.90   508043
1835 2023-06-22 09:15:00+05:30  2556.00  2573.30  2556.0  2568.95   609430
1836 2023-06-22 10:15:00+05:30  2569.70  2570.70  2555.0  2558.35   557970
1837 2023-06-22 11:15:00+05:30  2558.05  2558.95  2553.2  2554.65   115197

[1838 rows x 6 columns]

## Options

### Getting all Available Options for an Underlying

In [ ]:
reliance.get_option_matrix()

### Create objects for each option contract

In [ ]:
reliance.create_options_contracts()

### All Expiries

In [173]:
reliance.option_expiries

[datetime.date(2023, 8, 31),
 datetime.date(2023, 7, 27),
 datetime.date(2023, 6, 29)]

### All Strikes for a Particular Expiry

In [176]:
reliance.get_strike_list(reliance.options_matrix, datetime.date(2023, 6, 29))

[1900.0,
 1920.0,
 1940.0,
 1960.0,
 1980.0,
 2000.0,
 2020.0,
 2040.0,
 2060.0,
 2080.0,
 2100.0,
 2120.0,
 2140.0,
 2160.0,
 2180.0,
 2200.0,
 2220.0,
 2240.0,
 2260.0,
 2280.0,
 2300.0,
 2320.0,
 2340.0,
 2360.0,
 2380.0,
 2400.0,
 2420.0,
 2440.0,
 2460.0,
 2480.0,
 2500.0,
 2520.0,
 2540.0,
 2560.0,
 2580.0,
 2600.0,
 2620.0,
 2640.0,
 2660.0,
 2680.0,
 2700.0,
 2720.0,
 2740.0,
 2760.0,
 2780.0,
 2800.0,
 2820.0,
 2840.0,
 2860.0,
 2880.0,
 2900.0,
 2920.0]

### Get Data for all Options Contracts

In [159]:
reliance.get_data_for_all_options_contracts(start_date="2023-06-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="day")

### Get Option Data for a Particular Contract

In [177]:
reliance.options[datetime.date(2023, 6, 29)][2400]['call'].get_data(start_date="2023-04-01", end_date=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), interval="day")