In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [33]:
from Base.underlying import underlying
from Base.stock import stock

In [34]:
reliance = underlying('RELIANCE')

In [35]:
reliance.underlying_ticker

'RELIANCE'

In [36]:
reliance_stock = stock(reliance)

In [37]:
reliance_stock.underlying_ticker

'RELIANCE'

In [38]:
reliance.stock

In [41]:
reliance_stock.get_data()

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/NSE HTTP/1.1" 200 81864
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/738561/day?from=2021-01-01+00%3A01%3A00&to=2023-06-21+19%3A44%3A43&interval=day&continuous=0&oi=0 HTTP/1.1" 200 13508

In [31]:
import datetime
import logging
from kiteconnect import KiteConnect
import pprint
import pandas as pd
import plotly.graph_objects as go

logging.basicConfig(level=logging.DEBUG)

kite = KiteConnect(api_key="i1kdmhmd191859jo")

access_token = '6Ky8H1ghUnZoKAzK7TeE5Fc5cBKULYi9'
kite.set_access_token(access_token)

ticker_name = 'HDFC'

nse = kite.instruments('NSE')
nse_data = pd.DataFrame(nse)

# print(nse_data[nse_data.tradingsymbol.str.contains('HDFC')])

format = "%Y-%m-%d %H:%M:%S"

token = nse_data[nse_data.tradingsymbol == ticker_name].instrument_token.values[0]
kite_data_historical = kite.historical_data(token, "2021-01-01 00:01:00",
                                            datetime.datetime.now().strftime(format),
                                            'day', continuous=False, oi=True)
rcom_be = pd.DataFrame(kite_data_historical)

df = rcom_be

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443

DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/NSE HTTP/1.1" 200 81864
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/340481/day?from=2021-01-01+00%3A01%3A00&to=2023-06-21+19%3A37%3A25&interval=day&continuous=0&oi=1 HTTP/1.1" 200 13470

In [32]:
df

,date,open,high,low,close,volume,oi
0,2021-01-04 00:00:00+05:30,2576.90,2592.35,2533.15,2578.50,2795972,0
1,2021-01-05 00:00:00+05:30,2589.00,2659.45,2572.40,2651.85,5870743,0
2,2021-01-06 00:00:00+05:30,2664.70,2665.00,2619.00,2638.85,3401085,0
3,2021-01-07 00:00:00+05:30,2670.00,2709.35,2647.40,2661.35,4106042,0
4,2021-01-08 00:00:00+05:30,2668.00,2674.40,2631.00,2657.50,4497042,0
...,...,...,...,...,...,...,...
606,2023-06-15 00:00:00+05:30,2647.75,2652.15,2618.00,2620.15,3498981,0
607,2023-06-16 00:00:00+05:30,2630.00,2664.00,2626.05,2650.45,11656470,0
608,2023-06-19 00:00:00+05:30,2664.05,2669.00,2647.15,2654.80,5187085,0
609,2023-06-20 00:00:00+05:30,2653.95,2663.00,2631.40,2658.55,5495069,0
610,2023-06-21 00:00:00+05:30,2670.10,2704.80,2665.25,2702.00,4444247,0